<script src="https://kit.fontawesome.com/215e1e67e2.js" crossorigin="anonymous"></script>
{% extends 'base.html' %}
{% block content %}
<div class="container post-container">
    <div class="blog-image"></div>
    <div class="card-body">
      <h2 class="card-title">{% block title %} {{ post.title }} {% endblock title %}</h2>
      <p class="card-text">{{ post.content | safe }}</p>
      <p class="card-text"><small class="text-muted">{{ post.author }} | {{ post.created_on }}</small></p>
    </div>

  </div>

  <div class="col-1">
    <strong>
      {% if user.is_authenticated %}
      <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
        {% csrf_token %}
        {% if liked %}
  
        <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i class="fa-solid fa-heart"></i></button>
        
        {% else %}
        <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i class="fa-regular fa-heart"></i></button>
        {% endif %}
      </form>
      {% else %}
      <a class="text-secondary" href="{% url 'account_login' %}">Login to like this post<i class="fa-regular fa-heart"></i></a>
      
      {% endif %}
      
      <span class="text-secondary"> {{ post.number_of_likes }} </span>
      
    </strong>
  </div>
  <div class="card">
    {% for comment in comments %}
    <div class="card-body">
      <h5 class="card-title">{{ comment.name }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ comment.created_on }}</h6>
      <p class="card-text">{{ comment.body | linebreaks }}</p>
    </div>
    {% endfor %}
  </div>

<div class="card">
      {% if new_comment %}
      <div class="alert alert-success" role="alert">
        Your comment is awaiting moderation
      </div>
      {% else %}
      <h3>Leave a comment!</h3>
      <form method="POST" style="margin-top: 1.3em;">
        {{ comment_form.as_p }}
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-dark">Submit</button>
      </form>
      {% endif %}
    </div>
    
{% endblock content %}